@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
  font-size: 14px !important;
  line-height: 25px !important;
  font-family: 'Open Sans', sans-serif !important;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 0 10px 0;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 700 !important; */
}

h1{
  margin-bottom: 20px;
  font-size: 35px;
}

p{
  margin-top: 0
}

.container{
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header-section{
  background: #19246c;
  color: #fff;  
}

header {
  position: relative;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

ul.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.nav li{
  margin-right: 15px;
  position: relative;
}

.nav li a{
  color: #fff;
}

.nav img{
  height: 20px;
  width: 20px;
}

/* banner */
section.banner_section {
  background: #19246c;
    color: #fff;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.banner_content{
  display: flex;
  position: relative;
  align-items: baseline;
}

.banner_content>strong{
  font-size: 16em;
  line-height: 180px;
    text-transform: uppercase;
    letter-spacing: 26px;
    position: absolute;
    transform: translate(7%, 0);
    color: rgba(0,0,0,.1);
}

.banner-title{
  font-size: 70px;
    line-height: 70px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    
}

.new-product {
  display: flex;
}

.new-product>div {
  display: flex;
  flex-flow: column;
}

.new-product>div:first-child{
  width: 60%;
}

.new-product>div:last-child{
  width: 40%;
  align-items: flex-end;
  justify-content: center;
}

.banner_content .product-image img {
  transform: rotateZ(-25deg);
}

.banner_content h3.product-name {
  text-transform: uppercase;
  color: #b8904b;
  font-weight: 500;
}

.banner_content .product-price {
  font-size: 26px;
  margin: 10px;
}

.new-product button {
    background: none;
    position: relative;
    padding: 0;
    align-self: end;
    font-size: 14px !important;
}

.new-product .product-image{
  position: relative;
  z-index: 1;
}

.new-product .product-image::before,
.new-product .product-image::after{
  content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 23px;
    z-index: -1;
    top: -44px;
}

.new-product .product-image::before {
    border: 2px solid #b8904b;
    border-right-color: transparent;
    transition: transform 1s;
    transform: rotateZ(-17deg);
    
}

.banner_section:hover .product-image::before{
  animation: App-logo-spin 2s linear infinite;
}

/* .product-image:hover::before{
  display: none;
} */

.arrival-info{
  letter-spacing: 7px;
  flex-grow: 1;
}

.arrival-info p{
  color: #40a9ff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.new-product .product-image::after{
  background: rgb(250 173 20 / 7%);
  transform: scale(1);
  transition: all .6s ease-in-out
}

.new-product .product-image:hover::after{
  transform: scale(1);
}

/* banner new product list */
.new-product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-left: 30px;
}

.new-product-list>div {
  width: calc(100% / 4);
  display: flex;
  background: #faad14;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
  align-items: center;
}

.new-items .product-info {
  text-align: left;
  padding: 10px;
  width: 85%;
}

.new-items>div {
  width: 50%;
}

.new-items small.product-cat {
  color: #000;
}

.new-items .product-btn {
  opacity: 1;
  visibility: visible;
  right: 9px;
  width: auto;
  bottom: 10px;
  top: auto;
  font-size: 25px;
  color: #c18f2d;
}

/* .new-product button span{
  animation: arrow-slide 2s linear infinite;
  margin-right: 10px;
} */

@keyframes arrow-slide {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* form */
.wrapper{
  height: 100vh;
  display: flex;
  flex-flow: column;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}

.form{
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form h1{
  color: #fff;
  font-weight: 400;
}

.form-head p{
  margin-bottom: 0;
  color: #40a9ff;
}

.form>div{
  box-shadow: 0 0 10px rgba(0,0,0,.2)
}

.form-head {
  padding: 40px;
  background: #19246c;
  color: #fff;
  position: relative;
}

.form-body {
  padding: 40px;
}

input{
  height: 40px;
  padding: 10px;
  width: 100%;
  outline: 0;
  border: 1px solid #bbb;
  box-shadow: none;
}

/* pass field */
.passfield{
  position: relative;
}

.passfield button{
  height: 40px;
  line-height: 20px;
  width: auto !important;
  position: absolute;
  right: 0;
  background: none;
  font-size: 11px !important;
  padding: 0 10px
}

#add-product input{
  margin-bottom: 10px;
}

#register h1{
  margin-top: 10px;
}

::placeholder{
  font-style: italic;
  color: #ccc;
}

button{
  padding: 13px 20px;
  background-color: #ffc13d;
  color: #fff;
  text-transform: uppercase !important;
  border: 0;
  cursor: pointer;
  font-size: 16px !important;
  cursor: pointer;
}

.form button,
.product-form button{
  width: 100%;
}

#login button{
  margin-bottom: 10px;
}

.error{
  color: #e34a4a;
  font-size: 12px;
}



.back{
  position: absolute;
  top: 10px;
  color: #b3afaf;
  margin: 0;
  text-decoration: underline;
}

.form-group{
  margin-bottom: 15px
}

.form-group span {
  font-size: 12px;
  color: red;
}

@-webkit-keyframes showTab{
	from{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
	to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes showTab{
	from{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}
	to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}

.animate {
    -webkit-animation: showTab 400ms ease-in-out;
    animation: showTab 400ms ease-in-out;
}

.product-form{
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  background: #19246c;
  color: #fff;
}

.product-form h1{
  color: #fff;
}

.product-form input{
  border: 0;
  background: rgba(255,255,255,.4);
  margin-bottom: 10px
}

.product-section{
  display: flex;
  flex-flow: row wrap;
  padding: 50px 0;
}

.product-section>div{
  display: flex;
  flex-flow: column;
}

.product-section>div:first-child{
  width: 25%;
}

.product-section>div:last-child{
  width: 75%;
}

/* sidebar */
#sideContent {
  width: 25%;
  border-right: 1px solid #e7e7e7;
  padding: 20px;
}

#sideContent h3 {
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 7px;
}
#sideContent>div {
  margin-bottom: 20px;
}

#sideContent > div li {
  list-style: none;
  margin-bottom: 5px;
}

#sideContent button{
  background: none;
  display: block;
  font-size: 14px !important;
  padding: 5px 0;
  height: auto;
  line-height: 15px;
  text-transform: capitalize;
}

.color-block button {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  border-radius: 3px;
  padding: 0;
}

#rightContent{
  padding: 20px;
}

.sort-product{
  float: right;
}

.product {
  display: flex;
  flex-flow: row wrap;
}

.product>div {
  display: flex;
    flex-flow: column;
    width: calc((100% / 3) - 20px);
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

h3.product-name {
  text-transform: capitalize;
  line-height: 23px;
  margin-bottom: 0;
}

p.product-price {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 30px;
}

button.cart-btn,
button.wishlist {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 5px;
}

button.cart-btn img{
  max-height: 20px;;
}

.product-list:nth-child(3n) {
  margin-right: 0;
}

.product-image img{
  width: 100%;
}

.product-list .product-image {
  position: relative;
  overflow: hidden;
  height: 100px;
}

.product-list .product-image img{
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.product-list .product-image::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  left: -100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.product-list:hover .product-image::before {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.tag{
  padding: 4px 10px;
    background: rgba(2, 40, 141 , .3);
    display: inline-block;
    width: auto;
    position: absolute;
    line-height: 14px;
    font-size: 11px;
    color: #2653af;
    top: 10px;
    left: 10px;
    font-weight: 700;
}

.product-btn{
  position: absolute;
  right: -20px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
}

.product-list:hover .product-btn{
  right: 10px;
  opacity: 1;
  visibility: visible;
}

.wishlist img{
  height: 20px;
  width: 20px;
}

small.product-cat {
  text-transform: uppercase;
  color: #a1a1a1;
  font-weight: 500;
}

.filter{
	margin-bottom: 40px;
}

.filter form {
	display: flex;
	flex-wrap: wrap;
}

.filter label {
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}
.filter label input {
	position: absolute;
	left: -9999px;
}
.filter label input:checked + span:before {
	box-shadow: inset 0 0 0 2px #ffffff;
	background-color: black;
}
.filter label span {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0.1em 0.75em 0.1em 1.375em;
	border-radius: 5px;
	transition: 0.25s ease;
	color: black;
  font-size: 14px;
}

.filter label span:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 14px;
	height: 14px;
	transition: 0.25s ease;
	border: 1px solid black;
	position: absolute;
	left: 0;
}

.form-group {
    width: 100%;
}

.form-group:alast-child{
	margin-right: 40px;
}

select#category-list {
  border: 0;
  border-radius: 0;
  margin-left: 10px;
  font-size: 14px;
}

/* pagination */
.pagination{
  display: flex;
}

.page-size {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.size-option{
  padding: 0 5px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 5px;
}

button.btn-sm {
  font-size: 13px !important;
  padding: 8px;
  line-height: 10px;
}

.page-size select {
    border: 0;
}

select:focus-visible {
  outline: 0;
  background: #eee;
}

.pagination .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: transparent;
  border: 1px solid #000;
}

.wishlist{
  position: relative;
}

.nav span {
  height: 18px;
  width: 18px;
  display: inline-block;
  background: rgba(255 193 61 /70%);
  line-height: 18px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 3px;
  top: -11px;
  font-size: 11px;
}

.nav .search input {
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 20px;
  font-style: italic;
  font-size: 14px;
  padding: 10px 0;
}

.search button {
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  margin-left: 10px;
}

.search {
  position: relative;
}

.dropdown{
  position: absolute;
  background: #fff;
  color: #000;
  width: 100%;
  z-index: 2;
}

.dropdown ul{
  padding-left: 0;
}

.dropdown li{
  list-style: none;
}

.main_content{
  padding: 50px 0;
}

/* wished product */
.wished-product .product-list{
  width: 100%;
  flex-flow: row;
  margin-right: 0
}

.wished-product .product-btn{
  position: static;
  opacity: 1;
  visibility: visible
}

.quantity{
  display: flex;
}

.quantity .num{
  margin: 0;
  line-height: 25px;
  height: 25px;
  width: 34px;
  text-align: center;
}

.quantity button{
  height: 25px;
  width: 25px;
  background: #ccc;
  line-height: 25px;
  padding: 0;
  border-radius: 0;
}

table button{
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 14px !important;
  background: none;
  color: #333;
  transition: .3s ease;
}

button.cart:hover{
  background: #c18f2d;
}

button.delete:hover{
  background: rgb(221 1 1 / 64%);
}

/* product table*/
.wished-product {
  overflow-x: auto;
  font-size: 14px;
  border: 1px solid #eee;
}

.table_two thead th, .table_two tr th {
  color: #555;
  font-weight: 700;
  padding: 9px 24px;
}

.table_two tr td {
  border-top: 1px solid #eee;
  padding: 6px 24px;
}

table:not(.variations) {
  margin: 0 0 30px 0;
  text-align: left;
  width: 100%;
}

thead{
  background: #f1f1f1;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
}

tbody tr{
  border-bottom: 1px solid #ccc;
}

td img{
  max-width: 100px;
}

th, td {
  padding: 10px;
  font-weight: 500;
}

/* tr:nth-child(even) {
  background: #1f1111;
} */

/* error page */
#error-section {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  flex-flow: column;
  align-items: center;
  background-color: #19246c;
}

#error-section h1 {
  font-size: 170px;
  color: #ccc;
  line-height: 159px;
  margin-bottom: 0;
}

#error-section h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

/* product detail */
#page-wrap{
  padding: 50px 0;
}

.product-detail {
  display: flex;
  flex-flow: row;
}

.product-detail>div{
  display: flex;
  flex-flow: column;
}

.product-detail>div:first-child{
  width: 50%;
  background: #eee;
}

.product-detail>div:last-child{
  width: 50%;
  padding-left: 30px;
  text-align: left;
}

.product-status{
  font-size: 12px;
  line-height: 5px;
}

.badge{
  padding: 7px 5px;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
}

.success{
  background: green;
}
.error{
  background: red;
}

/* LOADER
===============================*/
.loader-item {
  height: 50px;
  width: 50px;
  /* background: #000; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader--1::before, .loader--1::after {
  position: absolute;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-color: transparent !important;
  border-radius: 50%;
}

.loader--1::before {
  height: 30px;
  width: 30px;
  border: 3px solid #000;
  -webkit-animation: loader-1 1s linear infinite;
  animation: loader-1 1s linear infinite;
}

.loader--1::after {
  height: calc(30px - 2px);
  width: calc(30px - 2px);
  border: 2px solid #000;
  -webkit-animation: loader-1 1s linear reverse infinite;
  animation: loader-1 1s linear reverse infinite;
}

@-webkit-keyframes loader-1 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loader-1 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

/* cart page */
.product_info {
  display: flex;
  align-items: center;
}

.product_info .product-image{
  width: 100px
}

.product_info .product-image img {
  width: auto;
  max-height: 100px;
}

.product_info .product-name {
  padding-left: 10px;
}

.cart_summary {
  display: flex;
  flex-flow: row wrap;
}

.clear_btn {
  align-self: flex-start;
  flex-grow: 1;
  display: inline-block;
  width: auto;
}

.cart_summary>button {
  align-self: flex-start;
  flex-grow: 1;
  display: inline-block;
  width: auto;
}
.cart_checkout {
  border: 1px solid #ccc;
  padding: 20px;
  background: #19246c;
  color: #fff;
}

.cart_checkout button{
  width: 100%;
}